body{
background-color: rgb(234, 225, 225);
text-align: center;
font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;

}

.bg-custom{
    background-color: #b4d8ff;
    
}
.bar-text{
    color: #000000;
}

.bg-custom a:hover{
    background-color: #fcfcfc;
    color: #000000;
    padding: 3px;
    border-radius: 10px;
}

.half-screen-image {
    /* Hace que la imagen ocupe la mitad de la altura de la pantalla */
    height: 50vh;
    /* Asegura que la imagen mantenga su aspecto original */
    object-fit: cover;
    /* Alinea la imagen a la izquierda de la pantalla */
    float: left;
    /* Hace que la imagen ocupe todo el ancho de la pantalla */
    width: 100%;

    margin-bottom: 30px;
    
}

    .boled{
        font-weight: bold;
    }


    h1{
        
      
color: rgb(14, 77, 203);
 text-align: center;
 font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
 
 
    }